<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Product Reviews</h1>
    <ul>
        <% product.reviews.forEach((r)=>{ %> 
            <li>
               
            </li>
            <li>
                <%=r.content %>
            </li>
            <li>
                <%=r.rating %>
            </li>
            <br>
        <% }) %>
    </ul>
    <a href="/wv/<%= decade._id %>/reviews/<%= product._id %>/new"><input type="submit" value="Leave Review"></a>

</body>
</html>