<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Document</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1><%= product.name %> Reviews</h1>
        <% product.reviews.forEach((r)=>{ %> 
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= r.title %></h5>
                  <p class="card-text"><%= r.content %></p>
                  <h6><%= r.rating%>/5</h6>
                    <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%= r._id%>" aria-expanded="false" aria-controls="collapseExample">Edit</button>
                    <div class="collapse" id="collapseExample<%= r._id%>">
                        <div class="card card-body">
                            <form action="/wv/<%= decade._id %>/reviews/<%= product._id %>/<%= r._id %>?_method=PUT" method="POST">
                            <label>Review:</label>
                            <textarea name="content"></textarea>
                            <label>Rating:</label>
                            <select name="rating">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <input type="submit" value="Update">
                          </form>
                        </div>
                      </div>
                  <form action="/wv/<%= decade._id %>/reviews/<%= product._id %>/<%= r._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                  </form> 
                </div>
            </div>
        <% }) %>
   <br>
    <a href="/wv/<%= decade._id %>/reviews/<%= product._id %>/new"><input type="submit" value="Leave Review"></a>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>