<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Document</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1><%= product.name %> Reviews</h1>
        <% product.reviews.forEach((r)=>{ %> 
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= r.title %></h5>
                  <p class="card-text"><%= r.content %></p>
                  <h6><%= r.rating%>/5</h6>
                    <a href="/wv/<%= decade._id %>/reviews/<%= product._id %>/edit"><input type="submit" value="Edit"></a>
                  <form action="/wv/<%= decade._id %>/reviews/<%= product._id %>/<%= r._id %>?_method=DELETE" method="POST">
                    <input type="submit" name="id" value="Delete">
                  </form> 
                </div>
            </div>
        <% }) %>
   <br>
    <a href="/wv/<%= decade._id %>/reviews/<%= product._id %>/new"><input type="submit" value="Leave Review"></a>

</body>
</html>